.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  transition: color 250ms $cubic;

  padding-top: 16px;
  padding-bottom: 16px;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.logo__web {
  color: $accent-color;
}
